n8n_bridge/workflows/auto_podcast_full_pipeline.json
{
  "name": "Auto-Podcast 完整流程",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-podcast",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook 触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/pipeline/run",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"step\": null,\n  \"config_override\": $json.config_override || {},\n  \"episode_id\": $json.episode_id || null\n}) }}"
      },
      "id": "run-pipeline",
      "name": "运行完整 Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-webhook",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook 触发器": {
      "main": [
        [
          {
            "node": "运行完整 Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "运行完整 Pipeline": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-13T14:19:00.000Z",
  "versionId": "1"
}
