n8n_bridge/workflows/config_management.json
{
  "name": "配置管理工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "config-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "config-webhook",
      "name": "配置 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "operation": "equals",
              "value2": "get"
            }
          ]
        }
      },
      "id": "switch-action",
      "name": "判断操作类型",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/config/get",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({\n  \"config_type\": $json.body.config_type || \"env\",\n  \"key\": $json.body.key || null\n}) }}"
      },
      "id": "get-config",
      "name": "获取配置",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/config/set",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({\n  \"key\": $json.body.key,\n  \"value\": $json.body.value,\n  \"persist\": $json.body.persist !== false\n}) }}"
      },
      "id": "set-config",
      "name": "设置配置",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "配置 Webhook": {
      "main": [
        [
          {
            "node": "判断操作类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断操作类型": {
      "main": [
        [
          {
            "node": "获取配置",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "设置配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取配置": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置配置": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-13T14:19:00.000Z",
  "versionId": "1"
}
